{:server {:port #profile {:prod #long #or [#env PORT 8080]
                          :dev 3080}}
 :selmer {:template-caching? #profile {:prod true
                                       :dev false}}
 :logger {:log-level #profile {:prod :info
                               :dev :debug}}
 :features {:donations? true
            :analytics? #profile {:prod true
                                  :dev false}}}
