<body id="top">

    <!-- Header -->
        <header id="header">
            <div class="content">
                <h1><a href="#">{{info.title}}</a></h1>
                <p>{{info.description|markdown|safe}}</p>
                <ul class="actions">
                    <li><a href="mailto:{{info.contact.email}}" class="button special icon fa-download">Contact</a></li>
                    <li><a href="{{info.termsOfService}}" class="button icon fa-chevron-down scrolly">Terms</a></li>
                </ul>
            </div>
        </header>

        <section  class="wrapper no-border">
            <div class="inner alt">
                <section class="spotlight">
                    <div class="content">
                      <h2>Introduction</h2>
                    </div>
                </section>
                <div class="content">
                    <h4>This documentation describes the operations supported at the following addresses:</h4>
                    <p></p>
                    {% for scheme in schemes %}
                      <code><a href="{{scheme}}://{{host}}{{basePath}}">{{scheme}}://{{host}}{{basePath}}</a></code>
                    {% endfor %}
                </div>
            </div>
        </section>

            <section  class="wrapper">
                <div class="inner alt">
                    <section class="spotlight">
                        <div class="content">
                            <h2>Contents</h2>
                        </div>
                    </section>
                    <div class="content">
                        <h3>Endpoints</h3>
                        <ol>
                        {% for path in paths %}
                        <li><a href="#{{path|key|name}}">{{path|key|name}}</a></li>
                        {% endfor %}
                        </ol>

                        <h3>Definitions</h3>
                        <ol>
                        {% for definition in definitions %}
                        <li><a href="#/definitions/{{definition|key|name}}">{{definition|key|name|capitalize}}</a></li>
                        {% endfor %}
                        </ol>

                        <h3>Security</h3>
                        <ol>
                        {% for definition in securityDefinitions %}
                        <li><a href="#{{definition|key|name}}">{{definition|key|name}}</a></li>
                        {% endfor %}
                        </ol>
                    </div>
                </div>
            </section>

        <section  class="wrapper no-border">
            <div class="inner alt">
                <section class="spotlight">
                    <div class="content">
                      <h2>Endpoints</h2>
                    </div>
                </section>
                <div class="content">
                    <h4>This section contains the specification for the available endpoints
                    and includes information such as the endpoint path, what kind of data is produced and consumed, and what status codes are returned.</h4>
                </div>
            </div>
        </section>

        {% for path in paths %}
            <section  class="wrapper">
                <div class="inner alt">
                    <section class="spotlight">
                        <div class="content">
                            <h2 id="{{path|key|name}}">{{path|key|name}}</h2>
                        </div>
                    </section>

                    {% for op in path|val %}
                        {% with opval=op|val %}
                            <div class="content">
                                <h3>{{op|key|name|upper}}</h3>
                                <h4><code>{{opval.operationId}}</code></h4>

                                {% if opval.tags|not-empty? %}
                                  <h4>Tags</h4>
                                    {% for tag in opval.tags %}
                                      <h5><code>{{tag}}</code></h5>
                                    {% endfor %}
                                {% endif %}

                                <h4>{{opval.summary}}</h4>
                                <p>{{opval.description}}</p>

                                {% if opval.consumes|not-empty? %}

                                  <h4>Consumes</h4>
                                  <table>
                                    <tbody>
                                     {% for consumer in opval.consumes %}
                                       <tr>
                                         <td>{{consumer}}</td>
                                       </tr>
                                     {% endfor %}
                                    </tbody>
                                  </table>
                                {% endif %}

                                {% if opval.produces|not-empty? %}

                                  <h4>Produces</h4>
                                  <table>
                                    <tbody>
                                     {% for produce in opval.produces %}
                                       <tr>
                                         <td>{{produce}}</td>
                                       </tr>
                                     {% endfor %}
                                    </tbody>
                                  </table>
                                {% endif %}

                                {% if opval.responses|not-empty? %}
                                  <h4>Responses</h4>
                                  <table>
                                    <thead>
                                      <th>Status</th>
                                      <th>Description</th>
                                      <th>Schema</th>
                                    </thead>
                                    <tbody>
                                         {% for response in opval.responses %}
                                           {% with responseval=response|val %}
                                           <tr>
                                             <td>{{response|key|name}}</td> 
                                             <td>{{responseval.description}}</td>
                                             <td>
                                             {% if responseval.schema|not-nil? %}
                                               <a href="{{responseval.schema.$ref}}">{{responseval.schema.$ref}}</a>
                                               {% if responseval.schema.items|not-nil? %}
                                               <a href="{{responseval.schema.items.$ref}}">{{responseval.schema.items.$ref}}[]</a>
                                               {% endif %}
                                             {% endif %}
                                             </td>
                                           </tr>
                                           {% endwith %}
                                         {% endfor %}
                                    </tbody>
                                  </table>
                                {% endif %}

                                {% if opval.parameters|not-empty? %}
                                  <h4>Parameters</h4>
                                  <table>
                                    <thead>
                                      <th>Name</th>
                                      <th>Description</th>
                                      <th>Type</th>
                                      <th>Format</th>
                                      <th>Items</th>
                                      <th>Schema</th>
                                      <th>In</th>
                                    </thead>
                                    <tbody>
                                         {% for param in opval.parameters %}
                                           <tr>
                                             <td>{{param.name}}
                                                {% if param.required %} 
                                                <code>Required</code>
                                                {% endif %}
                                             </td> 
                                             <td>{{param.description}}</td>
                                             <td>{{param.type}}</td>
                                             <td>{{param.format}}</td>
                                             <td>
                                             {% if param.items.enum|not-empty? %}
                                               {% for en in param.items.enum %}
                                                 <code>{{en}}</code><br />
                                               {% endfor %}
                                             {% endif %}
                                             </td>
                                             <td>
                                                 {% if param.schema|not-nil? %}
                                                   <a href="{{param.schema.$ref}}">{{param.schema.$ref}}</a>
                                                   {% if responseval.schema.items|not-nil? %}
                                                   <a href="{{param.schema.items.$ref}}">{{param.schema.items.$ref}}[]</a>
                                                   {% endif %}
                                                 {% endif %}
                                             </td>
                                             </td>
                                             <td>{{param.in}}</td>
                                           </tr>
                                         {% endfor %}
                                    </tbody>
                                  </table>
                                {% endif %}
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>
            </section>
        {% endfor %}

        <section  class="wrapper no-border">
            <div class="inner alt">
                <section class="spotlight">
                    <div class="content">
                      <h2>Definitions</h2>
                    </div>
                </section>
                <div class="content">
                    <p>This section contains the specification for the api contracts.</p>
                </div>
            </div>
        </section>

        {% for definition in definitions %}
            <section  class="wrapper">
                <div class="inner alt">
                    <section class="spotlight">
                        <div class="content">
                            <h2 id="/definitions/{{definition|key|name}}">{{definition|key|name|capitalize}}</h2>
                        </div>
                    </section>
                    <table>
                        <thead>
                          <th>Name</th>
                          <th>Type</th>
                          <th>Format</th>
                          <th>Enum</th>
                          <th>Description</th>
                          <th>Default</th>
                          <th>Example</th>
                        </thead>
                        <tbody>
                        {% with definitionval=definition|val %}
                          {% for property in definitionval.properties %}
                            <tr>
                              <td>{{property|first|name}}</td>
                              {% for prop in property|rest %}
                                <td>{{prop.type}}</td>
                                <td>{{prop.format}}</td>
                                <td>
                                {% for en in prop.enum %}
                                  <code>{{en}}</code><br />
                                {% endfor %}
                                </td>
                                <td>{{prop.description}}</td>
                                <td>{{prop.default}}</td>
                                <td>{{prop.example}}</td>
                              {% endfor %}
                            </tr>
                          {% endfor %}
                        {% endwith %}
                        </tbody>
                    </table>
                </div>
            </section>
        {% endfor %}

        <section  class="wrapper no-border">
            <div class="inner alt">
                <section class="spotlight">
                    <div class="content">
                      <h2>Security</h2>
                    </div>
                </section>
                <div class="content">
                    <p>This section contains the specification for api security.</p>
                </div>
            </div>
        </section>

        {% for definition in securityDefinitions %}
          {% with definitionVal=definition|val %}
          {% ifequal definitionVal.type "apiKey" %}
            <section  class="wrapper">
                <div class="inner alt">
                    <section class="spotlight">
                        <div class="content">
                            <h2 id="{{definition|key|name}}">{{definition|key|name}}</h2>
                        </div>
                    </section>
                    <table>
                        <thead>
                          <th>Type</th>
                          <th>In</th>
                          <th>Name</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{definitionVal.type}}</td>
                                <td>{{definitionVal.in}}</td>
                                <td>{{definitionVal.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            {% endifequal %}
            {% endwith %}
        {% endfor %}

        {% for definition in securityDefinitions %}
          {% with definitionVal=definition|val %}
          {% ifequal definitionVal.type "oauth2" %}
            <section  class="wrapper">
                <div class="inner alt">
                    <section class="spotlight">
                        <div class="content">
                            <h2 id="{{definition|key|name}}">{{definition|key|name}}</h2>
                        </div>
                    </section>
                    <table>
                        <thead>
                          <th>Type</th>
                          <th>Authorization Url</th>
                          <th>Flow</th>
                          <th>Scopes</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{definitionVal.type}}</td>
                                <td><a href="{{definitionVal.authorizationUrl}}">{{definitionVal.authorizationUrl}}</a></td>
                                <td>{{definitionVal.flow}}</td>
                                <td>
                                {% for scope in definitionVal.scopes %}
                                <p><b>{{scope|key|name}}</b>: {{scope|val}}</p>
                                {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            {% endifequal %}
            {% endwith %}
        {% endfor %}


        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li>This documentation was generated using <a href="http://swaggerdown.io" title="Swaggerdown">Swaggerdown</a></li>.
            </ul>
            <p class="copyright">&copy; Untitled. Credits: <a href="http://html5up.net">HTML5 UP</a></p>
        </footer>
</body>
