body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
}

p {
  font-size: 1.3em;
}

#generators-container {
  float:left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#bar {
  height: 120px;
  width: 100%;
  padding: 14px;
  margin-bottom: 6px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80px;
}

#bar > a > h1 {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

svg > path {
  fill: #fff;
}

.header {
  float: left;
  width: 100%;
  font-size:2.3em;
  background-color: #677;
  color: #fff;
  padding: 8px;
  margin: 0;
  text-align: center;
  background-color: #333;
}

.header > h3 {
  font-size: 1.7em;
  color: #eeeeee;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

.swagger, #profile, #help, #cog {
  border-radius: 80px;
  margin-left: auto;
  margin-right: auto;
}

#help {
  opacity: 0.6;
}

#intro {
  float: left;
  clear: both;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  min-height: 490px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#intro > h3, .outro > h3 {
  font-size: 2.1em;
  color: #fff;
  text-align: center;
  padding: 8px;
}

#intro > p, .outro > p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  font-style: italic;
}

.outro {
  float: left;
  clear: both;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.outro > p  {
  font-style: normal;
}


#main {
  background-color: #444;
  padding: 8px;
}

#url {
  display: block;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #333; 
  padding: 8px;
  font-size: 2em;
  text-align: center;
}

#preview-header, #preview-footer {
  clear: both;
  margin-top: 160px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  background-color: #333333;
  color: #fff;
}

#preview-footer {
  margin-top:0px;
  margin-bottom: 20px;
  border-radius: 0px 0px 5px 5px;
  cursor: hand;
  cursor: pointer;
}

#preview-header > h3, #preview-footer > div > h3 {
  margin-top: 6px;
  margin-bottom: 6px;
}

#preview {
  width: 80%;
  margin-top:-2px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #333;
  padding: 8px;
  background-color: #fff;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}

.expanded {
  max-height: 10000px;
}

.collapsed {
  max-height: 400px;
}


#generators {
  width: fit-content;
  margin-right: auto;
  margin-left: 45px;
  margin-top: 40px;
  margin-bottom: 180px;
}

@media (min-width: 550px) { 
  #generators {
    margin-left: auto;
  }
}

.generator {
  float:left;
  width: 90px;
  height: 140px;
  margin: 4px;
  padding: 0px;
  cursor: hand;
  cursor: pointer;
  color: #fff;
}

.generator > div {
  padding-top: 10px;
  text-align: center;
  margin-left: -11px;
}
.generator > img {
  border-radius: 60px 60px 60px 60px;
}

.generator.coming {
  opacity:0.2;
  cursor: not-allowed;
}

.generator.coming:hover {
}

.generator:hover {
  color: #fff;
  text-decoration: underline;
}

.download-link {
  margin-top: 30px;
}

.blue {
  background-color: #3B88C3;
}

.blue a {
  color: #fff;
}

.grey {
  background-color: #444;
}

.light-grey {
  background-color: #333;
}

.clojure, .clojurescript, .swagger, #cog {
  margin: 24px;
}

#cog {
  margin-top: 40px;
  background-color: #fff;
}

@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(1);
  }
}
