<!DOCTYPE HTML>
<html>
    <head>
        <title>{{info.description}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body id="top">

        <!-- Header -->
            <header id="header">
                <div class="content">
                    <h1><a href="#">{{info.title}}</a></h1>
                    <p>{{info.description}}</p>
                    <ul class="actions">
                        <li><a href="mailto:{{info.contact.email}}" class="button special icon fa-download">Contact</a></li>
                        <li><a href="{{info.termsOfService}}" class="button icon fa-chevron-down scrolly">Terms</a></li>
                    </ul>
                </div>
                <div class="image phone"><div class="inner"><img src="images/screen.jpg" alt="" /></div></div>
            </header>

            <section  class="wrapper no-border">
                <div class="inner alt">
                    <section class="spotlight">
                        <div class="content">
                          <h2>Endpoints</h2>
                        </div>
                    </section>
                    <div class="content">
                        <h4>This section contains the specification for the api endpoints and includes information such as the endpoint path, what kind of data is produced and consumed, and what status codes are returned.</h4>
                    </div>
                </div>
            </section>

            {% for path in paths %}
                <section  class="wrapper">
                    <div class="inner alt">
                        <section class="spotlight">
                            <div class="content">
                                <h2>{{path|key|name}}</h2>
                            </div>
                        </section>

                        {% for op in path|val %}
                            {% with opval=op|val %}
                                <div class="content">
                                    <h3>{{op|key|name|upper}}</h3>
                                    <h4>{{opval.operationId}}</h4>
                                    <h4>{{opval.summary}}</h4>
                                    <p>{{opval.description}}</p>

                                    {% if opval.consumes|not-empty? %}

                                      <h4>Consumes</h4>
                                      <table>
                                        <tbody>
                                         {% for consumer in opval.consumes %}
                                           <tr>
                                             <td>{{consumer}}</td>
                                           </tr>
                                         {% endfor %}
                                        </tbody>
                                      </table>
                                    {% endif %}

                                    {% if opval.produces|not-empty? %}

                                      <h4>Produces</h4>
                                      <table>
                                        <tbody>
                                         {% for produce in opval.produces %}
                                           <tr>
                                             <td>{{produce}}</td>
                                           </tr>
                                         {% endfor %}
                                        </tbody>
                                      </table>
                                    {% endif %}

                                    {% if opval.responses|not-empty? %}
                                      <h4>Responses</h4>
                                      <table>
                                        <thead>
                                          <th>Status</th>
                                          <th>Description</th>
                                        </thead>
                                        <tbody>
                                             {% for response in opval.responses %}
                                               {% with responseval=response|val %}
                                               <tr>
                                                 <td>{{response|key|name}}</td> 
                                                 <td>{{responseval.description}}</td>
                                               </tr>
                                               {% endwith %}
                                             {% endfor %}
                                        </tbody>
                                      </table>
                                    {% endif %}
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}

            <section  class="wrapper no-border">
                <div class="inner alt">
                    <section class="spotlight">
                        <div class="content">
                          <h2>Definitions</h2>
                        </div>
                    </section>
                    <div class="content">
                        <p>This section contains the specification for the api contracts.</p>
                    </div>
                </div>
            </section>

            {% for definition in definitions %}
                <section  class="wrapper">
                    <div class="inner alt">
                        <section class="spotlight">
                            <div class="content">
                                <h2>{{definition|key|name|capitalize}}</h2>
                            </div>
                        </section>
                        <table>
                            <thead>
                              <th>Name</th>
                              <th>Type</th>
                              <th>Format</th>
                              <th>Enum</th>
                              <th>Description</th>
                              <th>Example</th>
                            </thead>
                            <tbody>
                            {% with definitionval=definition|val %}
                              {% for property in definitionval.properties %}
                                <tr>
                                  <td>{{property|first|name}}</td>
                                  {% for prop in property|rest %}
                                    <td>{{prop.type}}</td>
                                    <td>{{prop.format}}</td>
                                    <td>{{prop.enum}}</td>
                                    <td>{{prop.description}}</td>
                                    <td>{{prop.example}}</td>
                                  {% endfor %}
                                </tr>
                              {% endfor %}
                            {% endwith %}
                            </tbody>
                        </table>
                    </div>
                </section>
            {% endfor %}

            <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
            </footer>
    </body>
</html>
